.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.submitButton {
  padding: 12px;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #fabd00; /* Légère variation au survol */
}
.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cardCategory {
  display: flex; /* Utilise Flexbox */
  flex-wrap: wrap; /* Permet aux cartes de s'enrouler sur plusieurs lignes */
  gap: 20px; /* Espace entre les cartes */
  justify-content: center; /* Centre les cartes horizontalement */
  padding: 20px; /* Ajoute du padding autour des cartes */
}

.card {
  background-color: #fff; /* Couleur de fond de la carte */
  border: 1px solid #ccc; /* Bordure de la carte */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour l'effet de profondeur */
  padding: 15px; /* Espace intérieur de la carte */
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-width: 250px; /* Largeur minimale pour la carte */
  transition: transform 0.2s; /* Animation lors du survol */
}

.card:hover {
  transform: scale(1.05); /* Agrandit légèrement la carte au survol */
}

.cardTitle {
  font-size: 1.5em; /* Taille du titre de la carte */
  margin: 0; /* Supprime la marge par défaut */
}

.cardId {
  color: #777; /* Couleur du texte ID */
}

/* Categorie.module.css */

/* Overlay du modal */
.modalOverlay {
  position: sticky; /* Position fixe pour recouvrir toute la page */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex; /* Flexbox pour centrer le contenu */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  z-index: 1000; /* S'assurer que le modal est au-dessus des autres éléments */
}

/* Contenu du modal */
.modal {
  background-color: white; /* Couleur de fond */
  border-radius: 8px; /* Coins arrondis */
  padding: 20px; /* Espacement intérieur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre autour du modal */
  width: 90%; /* Largeur de 90% pour s'adapter à différents écrans */
  max-width: 400px; /* Largeur maximale */
  transition: transform 0.3s ease; /* Animation lors de l'ouverture */
}

/* Titre du modal */
.modal h3 {
  margin-bottom: 15px; /* Espacement sous le titre */
  font-size: 1.5rem; /* Taille de la police du titre */
}

/* Input du modal */
.modal input {
  width: 100%; /* Largeur complète */
  padding: 10px; /* Espacement intérieur */
  margin-bottom: 15px; /* Espacement sous l'input */
  border: 1px solid #ccc; /* Bordure */
  border-radius: 4px; /* Coins arrondis */
  font-size: 1rem; /* Taille de la police */
}

/* Bouton du modal */
.modal button {
  background-color: #1abc9c; /* Couleur du bouton */
  color: white; /* Couleur du texte */
  padding: 10px 15px; /* Espacement intérieur */
  border: none; /* Pas de bordure */
  border-radius: 4px; /* Coins arrondis */
  cursor: pointer; /* Curseur en main au survol */
  font-size: 1rem; /* Taille de la police */
  width: 100%; /* Largeur complète pour le bouton */
  margin-top: 10px; /* Espacement supérieur */
}

/* Couleur du bouton au survol */
.modal button:hover {
  background-color: #1abc9c; /* Couleur du bouton au survol */
}

.style.iconfav{
  font-size: 5%;
 
  cursor: pointer;
  transition: color 0.3s ease;
}
.iconfav:hover {
  color: #f50000; /* Changement de couleur pour le favoris */
}

.cardprod {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
 
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.cardone {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  margin: 10px;
  transition: transform 0.3s ease;
}

.cardone:hover {
  transform: scale(1.05);
}

.imgp {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contentp {
  padding: 15px;
  text-align: center;
}

.contentp h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contentp p {
  font-size: 1rem;
  margin: 5px 0;
  color: #666;
}

@media (min-width: 768px) {
  .cardprod {
    justify-content: space-between;
  }

  .cardone {
    max-width: 250px;
  }

  .contentp h3 {
    font-size: 1.5rem;
  }

  .contentp p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .cardone {
    max-width: 300px;
  }

  .contentp h3 {
    font-size: 1.7rem;
  }

  .contentp p {
    font-size: 1.2rem;
  }
}
.wishlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  width: 50%;
 
}
.blocwish{

  display: flex;
  flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.wishlist:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.imgwish img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.contentwish {
  text-align: center;
  margin-top: 10px;
}

.contentwish h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.contentwish p {
  margin: 5px 0;
}
.iconremove{

  font-size: 1.5rem; 
  color: red; 
  cursor: pointer; 

 
  
}
.panier{
  font-size: 1.5rem;
}

.iconlist{

  display: flex;
}
@media (min-width: 600px) {
  .wishlist {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .imgwish {
    flex: 1;
  }

  .imgwish img {
    max-width: 150px;
    height: auto;
  }

  .contentwish {
    flex: 2;
    margin-left: 20px;
    text-align: left;
  }
}

@media (min-width: 900px) {
  .wishlist-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .wishlist-container {
    grid-template-columns: repeat(3, 1fr);
  }
}



/* Media query pour des écrans plus petits */
@media (max-width: 768px) {
  .modal {
      width: 95%; /* Largeur de 95% sur les petits écrans */
  }

  .modal h3 {
      font-size: 1.2rem; /* Taille de la police plus petite sur les petits écrans */
  }

  .modal input,
  .modal button {
      font-size: 0.9rem; /* Taille de la police plus petite */
  }
}

.iconfavlike{

  display: flex;
  justify-content: space-evenly


}
